@import "components/reset";
@import "components/typography";

html {
	font-family: "Inter", sans-serif;
}

.container {
	padding: 16px;
}

.autolayout {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
